.root {
  display: flex;
  height: 100%;

  &__side {
    display: flex;
    flex-direction: column;
    width: 280px;
    flex: 0 0 280px;
    border-right: solid 3px #ccc;

    &__calendar {
      padding: 5px;
    }

    &__list {
      border-top: solid 1px #ccc;
      flex: 1 1 0;
      overflow: hidden;
    }
  }

  &__editor {
    padding: 5px;
    flex: 1 1 0;
    border-right: solid 1px #ccc;
  }

  &__preview {
    padding: 5px;
    flex: 1 1 0;
    overflow-y: auto;
  }
}

.textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
  font-size: 1.4rem;
  line-height: 1.5;
}

.preview {
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  h2 {
    margin-top: 10px;
    font-weight: 600;
  }
}
